# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- List Commonly used libraries by Data Scientists
- Table of Data Science Tools
- Examples of arithmetic expressions

In this notebook, Data Science Tools and Ecosystem are summarized.

 Some of the popular languages that Data Scientists use are:
 
1. Java
2. Phyton
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Scikit-Learn
3. NumPy

|Data Science Tools|
|---------------|
|Jupyter Notebook|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bianca Sandu